## MAC OS
.DS_Store
.com.apple.timemachine.supported

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## RUBYMINE
.idea

## PROJECT::GENERAL
coverage
doc
pkg
.rvmrc
.bundle
.yardoc/*
dist
Gemfile.lock
*.orig
*.rej

## PROJECT::SPECIFIC
