language: ruby

cache: bundler

rvm:
  - ruby-head
  - 2.1.1
  - 2.1.0
  - 2.0.0
  - 1.9.3
  - jruby-19mode
  - jruby-head
  - rbx-2.1.1
  - rbx-2.2

matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
