name: Danger
on:
  pull_request:
    types: [ opened, reopened, edited, synchronize ]
jobs:
  danger:
    name: Danger
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true
      - name: Run Danger
        run: bundle exec danger dry_run --verbose
        env:
          DANGER_REPORT_PATH: danger_report.json
      - name: Upload Danger Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: danger-report
          path: danger_report.json
          retention-days: 1
          if-no-files-found: ignore
